{% extends 'AdmiScoBundle::standard_layout.html.twig'%}

{% block form -%}
    <h1>Admin creation</h1>

    {{ form(form) }}

        
        <a href="{{ path('admin') }}">
            Back to the list
        </a>
   
{% endblock %}
